# Created by venv; see https://docs.python.org/3/library/venv.html
*# Python virtual environments
.venv/
venv/
env/

# Python cache files
__pycache__/
*.py[cod]

# IDE specific files (VS Code, PyCharm, etc.)
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment variable files
.env
.env.*

# Test coverage and cache files
.pytest_cache/
.coverage
htmlcov/

# Build and distribution folders
build/
dist/
*.egg-info/

# Temporary files
*.tmp
*.bak

